.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;


}


.hero-text{

    width:50%;

}


.hello{

    font-size:20px;

}


.hero h1{

    font-size:70px;

    line-height:1;

    margin:10px 0;

}


.hero h3{

    font-size:22px;

}


.hero-text p{

    font-size:18px;

    line-height:1.6;

}



.hero button{


    margin-top:30px;

    padding:15px 30px;

    border-radius:30px;

    border:none;

    background:#111827;

    color:white;

    cursor:pointer;


}



.hero-image{

    width:40%;

    display:flex;

    justify-content:center;


}



.circle{

    width:350px;

    height:350px;

    border-radius:50%;

    background:#dbeafe;


}

.circle{

    position:relative;

    width:380px;

    height:380px;

    border-radius:50%;

    background:#dbeafe;

}


.card{

    position:absolute;

    background:white;

    padding:15px 25px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);

    font-weight:bold;

}


/* การ์ดแต่ละใบ */

.card1{

    top:40px;

    right:-40px;

}



.card2{

    left:-50px;

    top:150px;

}



.card3{

    bottom:40px;

    right:20px;

}



.keywords{

    display:flex;

    flex-direction:column;

    gap:10px;

    margin-left:30px;

}


.keywords span{

    font-size:18px;

    font-weight:bold;

    color:#555;

}